@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #1e1e1e;
}

.background-overlay {
  background-color: rgba(0, 0, 0, 0.93);
  transition: 0.5s;
}

header {
  width: 100%;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
header nav {
  padding: 1rem 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .image-logo {
  width: 7rem;
}
header nav .image-logo img {
  margin-top: 0.3rem;
  width: 100%;
}
header nav .menu-container {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fdfdfd;
  text-align: center;
  transition: transform 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
header nav .menu-container li:nth-child(1) {
  margin: 10rem 0 0;
}
header nav .menu-container li {
  list-style: none;
}
header nav .menu-container li a {
  color: #1e1e1e;
  text-decoration: none;
  padding-bottom: 0.3rem;
  font-weight: 400;
}
header nav .menu-container li .active {
  border-bottom: 2px solid #c60d61;
}
header nav .menu-visible {
  transform: translateX(0%);
  transition: 0.3s;
}
header nav i {
  font-size: 1.6rem;
  color: #fdfdfd;
}

.border-color {
  border-bottom: 1px solid #fdfdfd;
}

main {
  margin-top: 8rem;
  padding: 0 2rem;
}
main .slider-container {
  margin-top: 4rem;
}
main .slider-container .slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fdfdfd;
  font-size: 1.4rem;
}
main .slider-container .slider h1 {
  font-weight: 400;
  transition: 1s;
}
main .slider-container .slider i {
  cursor: pointer;
}
main .check-container {
  margin-top: 4rem;
}
main .check-container .checkbox-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .check-container .checkbox-search .input-search {
  width: 100%;
  display: flex;
  border: 1px solid #fdfdfd;
  border-radius: 0.3rem;
  padding: 0.6rem;
  gap: 0.4rem;
  color: #fdfdfd;
}
main .check-container .checkbox-search .input-search input {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  padding-left: 0.4rem;
  color: #fdfdfd;
  opacity: 0.7;
}
main .check-container .checkbox-search .input-search i {
  font-size: 0.8rem;
}
main .check-container .checkbox-search .category-input__container {
  margin-top: 1.2rem;
  display: flex;
  gap: 0.8rem;
}
main .check-container .checkbox-search .category-input__container .category-input {
  font-size: 0.7rem;
  color: #fdfdfd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .check-container .checkbox-search .category-input__container .category-input label {
  margin-left: 0.25rem;
}
main .cards-container {
  margin-top: 4rem;
  padding-bottom: 2rem;
}
main .cards-container .cards {
  width: 16.5rem;
  height: 22rem;
  margin: 2rem auto 0;
  border: 2px solid rgba(221, 221, 221, 0.8666666667);
  text-align: center;
  padding: 0.2rem;
  color: #fdfdfd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.6rem;
  box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.75);
  border-radius: 0.2rem;
}
main .cards-container .cards .cards-image {
  padding: 1rem 1rem 0;
}
main .cards-container .cards .cards-image img {
  width: 100%;
  height: 9rem;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.75);
  border-radius: 0.2rem;
}
main .cards-container .cards .cards-title {
  margin-top: 1rem;
  font-size: 1rem;
}
main .cards-container .cards .cards-description {
  width: 85%;
  margin: 0.4rem auto 0;
  font-size: 0.8rem;
}
main .cards-container .cards .cards-estimate-assitance {
  width: 85%;
  margin: 0.4rem auto 0;
  font-size: 2rem;
}
main .cards-container .cards .cards-features {
  margin-top: 2rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.8rem;
}
main .cards-container .cards .cards-features .cards-price {
  font-size: 0.8rem;
}
main .cards-container .cards .cards-features .cards-price span {
  color: #1ed924;
  margin-left: 0.3rem;
}
main .cards-container .cards .cards-features .cards-btn-show-more {
  padding: 0.45rem 1rem;
  font-size: 0.6rem;
  border: 2px solid #c60d61;
  border-radius: 0.2rem;
  background-color: #c60d61;
  color: #fdfdfd;
  font-weight: 300;
  transition: 0.3s;
  font-weight: bold;
  cursor: pointer;
}
main .cards-container .cards .cards-features .cards-btn-show-more:hover {
  background-color: transparent;
  color: #c60d61;
}
main .cards-container .cards-events {
  padding: 4rem;
  text-align: center;
  color: #fdfdfd;
  opacity: 0.6;
}
main .none {
  display: none;
}
main .cards-show-overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  z-index: 1;
}
main .cards-show-overlay .card-show {
  width: 16rem;
  height: 22rem;
  position: absolute;
  transform: translateY(55%);
  background-color: #fdfdfd;
  border-radius: 0.4rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 4;
}
main .cards-show-overlay .card-show img {
  width: 100%;
  height: 9rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.4rem;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.75);
}
main .cards-show-overlay .card-show .card-features .cards-title {
  font-size: 1rem;
  margin-bottom: 1rem;
}
main .cards-show-overlay .card-show .card-features p {
  width: 80%;
  margin: 0 auto;
  font-size: 0.7rem;
}
main .bi-x-lg {
  position: absolute;
  color: #fdfdfd;
  transition: 0.3s;
  font-size: 1rem;
  top: -2rem;
  right: 0;
  cursor: pointer;
}
main .bi-x-lg:hover {
  color: #c60d61;
}
main .sec-connect {
  width: 72%;
  margin: 7rem auto;
  text-align: center;
  color: #fdfdfd;
}
main .sec-connect .contact {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .sec-connect .contact .contact-right {
  width: 100%;
}
main .sec-connect .contact .contact-right .contact-inputs-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .sec-connect .contact .contact-right .contact-inputs-container form .inputs {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 1rem;
}
main .sec-connect .contact .contact-right .contact-inputs-container form .inputs input {
  border-width: 1px;
  border-radius: 0.6rem;
  padding: 1rem;
}
main .sec-connect .contact .contact-right .contact-inputs-container form .inputs .first-name {
  width: 100%;
}
main .sec-connect .contact .contact-right .contact-inputs-container form .inputs .mail {
  width: 100%;
}
main .sec-connect .contact .contact-right .contact-inputs-container form textarea {
  resize: none;
  border-width: 1px;
  border-radius: 0.6rem;
  padding: 1rem;
  margin-top: 4.25rem;
}
main .sec-connect .contact .contact-right .contact-inputs-container form #spinner {
  display: none;
  justify-content: center;
  padding: 3rem 0;
}
main .sec-connect .contact .contact-right .contact-inputs-container form .sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}
main .sec-connect .contact .contact-right .contact-inputs-container form .sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}
main .sec-connect .contact .contact-right .contact-inputs-container form .sk-chase-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: #0288d1;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}
main .sec-connect .contact .contact-right .contact-inputs-container form .sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}
main .sec-connect .contact .contact-right .contact-inputs-container form .sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}
main .sec-connect .contact .contact-right .contact-inputs-container form .sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}
main .sec-connect .contact .contact-right .contact-inputs-container form .sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}
main .sec-connect .contact .contact-right .contact-inputs-container form .sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}
main .sec-connect .contact .contact-right .contact-inputs-container form .sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}
main .sec-connect .contact .contact-right .contact-inputs-container form .sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}
main .sec-connect .contact .contact-right .contact-inputs-container form .sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}
main .sec-connect .contact .contact-right .contact-inputs-container form .sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}
main .sec-connect .contact .contact-right .contact-inputs-container form .sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}
main .sec-connect .contact .contact-right .contact-inputs-container form .sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}
main .sec-connect .contact .contact-right .contact-inputs-container form .sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}
@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase-dot {
  80%, 100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%, 0% {
    transform: scale(1);
  }
}
main .sec-connect .contact .contact-right .contact-inputs-container .message-error,
main .sec-connect .contact .contact-right .contact-inputs-container .message-correct {
  margin-top: 1rem;
  text-align: center;
  padding: 0.6rem 1rem;
  border-radius: 0.6rem;
}
main .sec-connect .contact .contact-right .contact-inputs-container .message-error {
  border: 1px solid rgb(255, 70, 70);
  color: rgb(255, 70, 70);
}
main .sec-connect .contact .contact-right .contact-inputs-container .message-correct {
  border: 1px solid rgb(58, 200, 11);
  color: rgb(58, 200, 11);
}
main .sec-connect .contact .contact-right .contact-inputs-container .message-error,
main .sec-connect .contact .contact-right .contact-inputs-container .message-correct {
  padding: 1rem;
  font-size: 0.7rem;
}
main .sec-connect .contact .contact-right .contact-inputs-container .border-error {
  border: 1px solid rgb(255, 70, 70);
}
main .sec-connect .contact .contact-right .contact-inputs-container .btn-disable {
  opacity: 0.3;
  text-transform: uppercase;
  cursor: not-allowed;
}
main .sec-connect .contact .contact-right .contact-inputs-container .border-correct {
  border: 1px solid rgb(58, 200, 11);
}
main .sec-connect .contact .contact-right .contact-inputs-container .btn {
  margin-top: 0.8rem;
  padding: 1rem;
  background-color: #c60d61;
  border: 3px solid transparent;
  color: #fdfdfd;
  border-radius: 0.4rem;
}
main .sec-connect .contact .contact-right .contact-inputs-container .btn:hover {
  cursor: pointer;
  background-color: transparent;
  border: 3px solid #c60d61;
  color: #c60d61;
  transition: 0.3s;
}
main .container-stats {
  margin-top: 4rem;
  color: #fdfdfd;
  flex-direction: column;
  text-align: center;
}
main .container-stats h2 {
  font-size: 1.3rem;
  font-weight: bold;
}
main .container-stats table {
  margin: 1rem 0;
}
main .container-stats table tr {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .container-stats table tr th {
  margin: 1rem 0;
  font-weight: bold;
  font-size: 0.9rem;
}
main .container-stats table tr td {
  margin: 0.8rem 0;
  opacity: 0.8;
}

footer {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: #fdfdfd;
  border-top: 1px solid #fdfdfd;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
footer .footer-container .socials {
  display: flex;
  gap: 1rem;
}
footer .footer-container .socials .socials-icon {
  width: 2rem;
  height: 2rem;
  background-color: #fdfdfd;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
footer .footer-container .socials .socials-icon a {
  color: #1e1e1e;
}

@media (min-width: 766px) {
  .background-overlay {
    background-color: #1e1e1e;
  }
  header nav {
    width: 95%;
    margin: 0 auto;
  }
  header nav a {
    font-size: 0.8rem;
  }
  header nav .image-logo {
    width: 8rem;
  }
  header nav .image-logo img {
    width: 100%;
  }
  header nav .menu-container {
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    background-color: transparent;
    position: static;
    transform: translateX(0%);
  }
  header nav .menu-container li:nth-child(1) {
    margin: 0;
  }
  header nav .menu-container li a {
    color: #fdfdfd;
  }
  header nav .menu-container li a:hover {
    border-bottom: 2px solid #c60d61;
  }
  header nav .menu-container li .active {
    border-bottom: 2px solid #c60d61;
  }
  header nav i {
    display: none;
  }
  main {
    width: 95%;
    margin: 10.5rem auto 0;
    padding: 0 2rem;
  }
  main .slider-container {
    margin-top: 6rem;
  }
  main .slider-container .slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    color: #fdfdfd;
  }
  main .slider-container .slider h1 {
    font-size: 2rem;
    font-weight: 400;
  }
  main .check-container {
    margin-top: 6rem;
  }
  main .check-container .checkbox-search .input-search {
    width: 60%;
    gap: 0.4rem;
    color: #fdfdfd;
  }
  main .check-container .checkbox-search .input-search input {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
    padding-left: 0.4rem;
    color: #fdfdfd;
    opacity: 0.7;
  }
  main .check-container .checkbox-search .input-search i {
    font-size: 0.8rem;
  }
  main .check-container .checkbox-search .category-input__container {
    width: 60%;
    display: flex;
    justify-content: space-around;
  }
  main .check-container .checkbox-search .category-input__container .category-input {
    margin-top: 0.6rem;
  }
  main .check-container .checkbox-search .category-input__container .category-input label {
    margin-left: 0.5rem;
    font-size: 0.8rem;
  }
  main .cards-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  main .cards-container .cards {
    height: 22rem;
    margin-top: 3.5rem;
  }
  main .cards-container .cards .cards-description {
    width: 85%;
  }
  main .cards-show-overlay .card-show {
    transform: translateY(50%);
  }
  main .sec-connect {
    width: 61%;
    text-align: center;
    color: #fdfdfd;
  }
  main .sec-connect .contact .contact-right .contact-inputs-container .btn {
    margin-top: 1rem;
    padding: 1.2rem;
  }
  footer .footer-container {
    width: 55%;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 990px) {
  header nav {
    width: 90%;
  }
  header nav .image-logo {
    width: 10rem;
  }
  header nav .menu-container li a {
    font-size: 1rem;
  }
  main {
    width: 90%;
  }
  main .slider-container {
    margin-top: 6rem;
  }
  main .slider-container .slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    color: #fdfdfd;
  }
  main .slider-container .slider h1 {
    font-weight: 400;
  }
  main .check-container {
    margin-top: 6rem;
    display: flex;
  }
  main .check-container .checkbox-search {
    width: 100%;
    flex-direction: row;
  }
  main .check-container .checkbox-search .input-search {
    width: 60%;
    gap: 0.4rem;
    color: #fdfdfd;
    order: 1;
  }
  main .check-container .checkbox-search .input-search input {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
    padding-left: 0.4rem;
    color: #fdfdfd;
    opacity: 0.7;
  }
  main .check-container .checkbox-search .input-search i {
    font-size: 0.8rem;
    cursor: pointer;
  }
  main .check-container .checkbox-search .category-input__container {
    margin-top: 0;
    justify-content: start;
    gap: 2rem;
  }
  main .check-container .checkbox-search .category-input__container .category-input {
    margin-top: 0rem;
  }
  main .check-container .checkbox-search .category-input__container .category-input label {
    margin-left: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
  }
  main .check-container .checkbox-search .category-input__container .category-input input {
    cursor: pointer;
  }
  main .cards-container {
    margin-top: 2rem;
    width: 100%;
  }
  main .cards-container .cards {
    width: 16rem;
    height: 24rem;
    margin: 2rem auto 0;
    gap: 0.6rem;
    box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.75);
    border-radius: 0.2rem;
  }
  main .cards-container .cards .cards-image {
    padding: 1rem 1rem 0;
  }
  main .cards-container .cards .cards-image img {
    width: 100%;
    height: 9rem;
    -o-object-fit: fill;
       object-fit: fill;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.75);
    border-radius: 0.2rem;
  }
  main .cards-container .cards .cards-title {
    width: 80%;
    margin: 1rem auto 0;
    font-size: 1rem;
  }
  main .cards-container .cards .cards-description {
    width: 85%;
    margin: 0.4rem auto 0;
    font-size: 0.8rem;
  }
  main .cards-container .cards .card-features .cards-price {
    font-size: 0.8rem;
  }
  main .cards-container .cards .card-features .cards-price span {
    margin-left: 0.3rem;
  }
  main .cards-container .cards .cards-events {
    padding: 4rem;
    text-align: center;
    color: #fdfdfd;
    opacity: 0.6;
  }
  main .cards-show-overlay .card-show {
    width: 40rem;
    height: 18rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transform: translateY(65%);
  }
  main .cards-show-overlay .card-show img {
    width: 18rem;
    height: 14rem;
    border-radius: 0.4rem;
  }
  main .cards-show-overlay .card-show .card-features {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  main .cards-show-overlay .card-show .card-features p {
    width: 85%;
    line-height: 1.2rem;
    font-size: 0.8rem;
    margin: 0 auto;
  }
  main .sec-connect {
    width: 52%;
    margin: 7rem auto;
  }
  main .sec-connect .contact {
    margin: 2rem auto;
    justify-content: center;
  }
  main .sec-connect .contact .contact-me i {
    margin-right: 0.6rem;
    font-size: 1.3rem;
    color: #c60d61;
  }
  main .sec-connect .contact .contact-me h5,
  main .sec-connect .contact .contact-me h5 {
    font-size: 1rem;
  }
  main .sec-connect .contact .contact-me p {
    font-size: 0.8rem;
    font-weight: 300;
  }
  main .sec-connect .contact .contact-right {
    width: 100%;
  }
  main .sec-connect .contact .contact-right .contact-inputs-container form {
    width: 100%;
    display: flex;
  }
  main .sec-connect .contact .contact-right .contact-inputs-container form .inputs {
    flex-direction: row;
  }
  main .sec-connect .contact .contact-right .contact-inputs-container form .inputs input {
    border-radius: 0.6rem;
    padding: 1rem;
    font-size: 0.8rem;
  }
  main .sec-connect .contact .contact-right .contact-inputs-container form .inputs input::-moz-placeholder {
    font-size: 0.8rem;
  }
  main .sec-connect .contact .contact-right .contact-inputs-container form .inputs input::placeholder {
    font-size: 0.8rem;
  }
  main .sec-connect .contact .contact-right .contact-inputs-container form textarea {
    padding: 1rem;
    margin-top: 0;
    font-size: 0.8rem;
  }
  main .sec-connect .contact .contact-right .contact-inputs-container form textarea::-moz-placeholder {
    font-size: 0.8rem;
  }
  main .sec-connect .contact .contact-right .contact-inputs-container form textarea::placeholder {
    font-size: 0.8rem;
  }
  main .sec-connect .contact .contact-right .contact-inputs-container .message-error,
  main .sec-connect .contact .contact-right .contact-inputs-container .message-correct {
    padding: 1rem;
    font-size: 0.8rem;
  }
  main .sec-connect .contact .contact-right .contact-inputs-container .btn {
    margin-top: 1rem;
    font-size: 1rem;
    padding: 1rem;
  }
  main .container-stats {
    margin-top: 4rem;
    color: #fdfdfd;
    flex-direction: column;
    text-align: center;
  }
  main .container-stats h2 {
    font-size: 1.3rem;
    font-weight: bold;
  }
  main .container-stats table {
    margin: 1rem 0;
  }
  main .container-stats table tr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .container-stats table tr th {
    margin: 1rem 0;
    font-weight: bold;
    font-size: 1rem;
  }
  main .container-stats table tr td {
    margin: 0.8rem 0;
    opacity: 0.8;
  }
  footer {
    margin-top: 1rem;
    padding: 1.6rem 0;
  }
  footer .footer-container {
    width: 78%;
    flex-direction: row;
    justify-content: space-between;
  }
}/*# sourceMappingURL=styles.css.map */